body{
    margin: 0%;
    padding: 0%;
    font-family: 'Press Start 2P';
    background-image: url(../img/fondobody.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
/* fondo y form */
.animate__animated.animate__fadeInTopLeft{
    position: absolute;
    width: 6rem;
    height: 6rem;
    left: 15%;
    transform: translate(-50%, -50%);
    top: 10%;
}
.animate__animated.animate__fadeInBottomRight.img__2{
    position: absolute;
    width: 6rem;
    height: 6rem;
    rotate: 180deg;
    right: 15%;
    bottom: 40%;
    transform: translate(-50%, -50%);
}
.form__container{
    height: 100vh;
    position: relative;
}
.form{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    height: 15rem;
    border: 1px solid rgb(33, 226, 26);
    border-radius: 10%;
    justify-content: center;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 13px 17px rgba(29, 185, 42, 0.75);
    -webkit-box-shadow: 0px 0px 13px 17px rgba(73, 196, 73, 0.75);
    -moz-box-shadow: 0px 0px 13px 17px rgba(67, 170, 67, 0.75);
}
.form__label{
    font-size: 0.7rem;
    color: rgb(33, 226, 26);
}
.form__input{
    background: transparent;
    border: 1px solid rgb(33, 226, 26);
    color: rgb(33, 226, 26);
}
.boton{
    background: transparent;
    color: rgb(33, 226, 26);
    padding: 10px;
    border: none;
}
.boton:hover{
    border: 1px solid rgb(33, 226, 26);
}
/*nav*/
.lista{
    width: 100%;
    height: 30%;
    padding: 0%;
    margin: 0%;
    bottom: 0%;
    position: absolute;
}.lista li a{
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #072C06;
    padding: 10px;
    background-color: #52FF00;
    text-align: center;
}.lista li a:hover{
    background: transparent;
    backdrop-filter: blur(10px);
    color: #52FF00;
    transition: 0.7s;
}
/*medias*/
@media (min-width: 800px){
    /*media nav*/
 .lista{
    display: flex;
    top: 0%;
    justify-content:space-evenly
 }
 .lista li a{
    background: transparent;
    color: #52FF00;
    border: 1px solid #52FF00;
    border-radius: 15%;
 }
 .lista li a:hover{
    background-color: #52FF00;
    color: #072C06;
    transition: 0.7s;
 }
    /*media fondo y form*/
  .form{
    width: 20rem;
    height: 20rem;
    top: 60%;
  }
  .form__label{
    font-size: 1.2rem;
  }
  .form__input{
    height: 10%;
    width: 80%;
  }
  .boton{
    padding: 5%;
    font-size: 1.2rem;
  }
  .animate__animated.animate__fadeInTopLeft{
    width: 10rem;
    height: 10rem;
  }
  .animate__animated.animate__fadeInBottomRight.img__2{
    width: 10rem;
    height: 10rem;
    bottom: 0%;
  }
}
/*css responsive de productos*/
.body-productos{
    background-image: url(/img/fondo-productos.jpg);
    backdrop-filter: blur(5px);
    margin: 0%;
    padding: 0%;
    font-family: 'Press Start 2P';
}
.grid-container{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    height: 100%;
}
/*nav*/
.grid__nav{
    height: 70px;
    grid-column: 1 / 4;
}
.nav-productos{
    list-style: none;
    display: flex;
    justify-content: center;
}
.nav-productos a{
    padding: 15px;
    text-decoration: none;
    color: #52FF00;
    font-size: 8px;
    border-bottom: 3px solid #52FF00;
}
.nav-productos a:hover{
    background-color: #52FF00;
    transition: 0.7s;
    color: black;
    animation-name: color;
    animation-duration: 0.5s;
}
@keyframes color {
    70%{
        background-color: #072C06;
    }
    100%{
        background-color: #52FF00;
    }

}
/*productos*/
.productos__container{
    grid-column: 1 / 4;
    grid-row: 2 / auto;
}
.productos__container div{
    width: 200px;
    height: 200px;
    border: 2px solid #52FF00;
    display: inline-block;
    margin: 15px;
    box-shadow: 0px 0px 41px 13px rgba(43, 192, 37, 0.75);
    -webkit-box-shadow: 0px 0px 41px 13px rgba(123, 155, 115, 0.425);
    -moz-box-shadow: 0px 0px 41px 13px rgba(65, 211, 29, 0.75);
}
.items{
    position: relative;
}
.items img{
    height: 200px;
    width: 200px;
}
.boton__comprar{
    background: transparent;
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 50%);
    border: none;
    background-color: #52FF00;
    color: #072C06;
}
.boton__comprar:hover{
    transition: 0.7s;
    background-color: #072C06;
    color: #52FF00;
}
.precio{
    position: absolute;
    right: 0%;
    font-size: 15px;
    color:limegreen
}
/*footer*/
footer{
    border: 1px solid #52FF00;
    grid-column: 1 / 4;
    grid-row: 4 / auto;
    height: 70px;
    color: #52FF00;
    text-align: center;
    font-size: small;
}
/*css contacto*/
.body__contacto{
    font-family: 'Press Start 2P';
    background-image: url(/img/fondo-contacto.jpg);
}
.main__container{
    width: 25%;
    height: 75%;
    border-radius: 10%;
    background: transparent;
    border: 2px solid #52FF00;
    backdrop-filter: blur(10px);
    position: absolute;
    left: 40%;
    top: 10%;
    text-align: center;
    justify-items: center;
    animation: pulse 7s ease infinite;
}
.main__container h3{
    color: #52FF00;
    font-size: 70%;
}
.texto{
    width: 80%;
    height: 30%;
    background: transparent;
    border: 1px solid #52FF00;
    border-radius: 10%;
    color: #52FF00;
}
.boton-enviar{
    background: transparent;
    border: #52FF00 1px solid;
    border-radius: 10%;
    color: #52FF00;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px;
}
.boton-enviar:hover{
    background-color: #52FF00;
    color: #072C06;
    transition: 0.7s;
    animation: shake .5s ease-in-out infinite;
}
/*redes*/
.red__inst{
    position: absolute;
    height: 60px;
    width: 60px;
    transform: translate(-50%, -50%);
    bottom: 5%;
    left: 30%;

}
.red__wasap{
    position: absolute;
    transform: translate(-50%, -50%);
    height: 45px;
    width: 45px;
    bottom: 10%;
    right: 15%;
}
.redes__instagram{
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 5%;
    left: 28%;
}
.redes__wasap{
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 5%;
    right: 0%;
}
/*keyframes*/
@keyframes shake {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-2px);
    }
    40% {
      transform: translateX(2px);
    }
    60% {
      transform: translateX(-2px);
    }
    80% {
      transform: translateX(2px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.03);
    }
    100% {
      transform: scale(1);
    }
  }
  /*nav*/
  .nav-contacto{
    position: absolute;
    bottom: 4%;
    display: flex;
    transform: translate(-50%, -50%);
    left: 50%;
  }
  .link__nav{
    text-decoration: none;
    margin-left: 60px;
    margin-right: 60px;
    color: #52FF00;
    font-size: 10px;
    padding: 10px;
  }
  .link__nav:hover{
    border-radius: 40%;
    background-color: #52FF00;
    color: #072C06;
    transition: 0.7s;
  }